# Игнорировать файлы и директории, созданные операционной системой
*.pyc
__pycache__/

# Игнорировать файлы проекта
*.pyo
*.pyd
db.sqlite3
db.sqlite3-journal

# Игнорировать файлы настроек
*.env

# Игнорировать директории с медиа-файлами (если используется)
media/

# Игнорировать директории с статическими файлами (если используется)
static/

# Игнорировать файл с настройками локальных разработчиков (если используется)
local_settings.py

# Игнорировать виртуальное окружение
venv/
